<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Match Predictor</title>
</head>
<body>
<nav>
    <a href="{% url 'competition_list' %}">Home</a>
    
    {% if user.is_authenticated %}
        <span>Logged in as: <strong>{{ user.username }}</strong></span>
        
        <form action="{% url 'logout' %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
        
    {% else %}
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
</nav>

    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>