{% extends 'base.html' %}

{% block content %}
    <div class="form-container">
        <h1>Create a Private Leaderboard</h1>
        <p>Set up a private league to compete and predict matches with your friends.</p>
        
        <form method="POST">
            {% csrf_token %}
            
            {{ form.as_p }}
            
            <br>
            <button type="submit" style="background-color: #28a745; color: white;">Create Leaderboard</button>
            <a href="{% url 'leaderboard_list' %}" style="margin-left: 15px;">Cancel</a>
        </form>
    </div>
{% endblock content %}